{
	"singleQuote": true,
	"trailingComma": "es5",
	"semi": true,
	"printWidth": 80,
	"tabWidth": 2,
	"useTabs": true,
	"endOfLine": "auto",
	"arrowParens": "always",
	"jsxSingleQuote": true,
	"bracketSpacing": true
}
