.fade-in {
	animation: fade-in ease 500ms;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.banner {
	min-height: 70vh;

	@screen lg {
		min-height: 95vh;
	}
}

.social-icons:last-child .icon {
	@apply mr-0;
}

.content {
	@apply !pb-0;
}

.collapse .view .title {
	@apply dark:text-white;
}

#wrapper {
	aspect-ratio: 1.618;
	/*width: 50vmin;*/
	position: relative;
}

#wrapper > .shape {
	height: 30%;
	width: 30%;
	background-color: rgba(255 255 255 / 5%);
	position: absolute;
	transition: left, top, height, width, border-radius;
	transition-duration: 750ms;
	transition-timing-function: ease-in-out;
}

#wrapper > .shape:nth-child(1) {
	background-color: rgb(176, 190, 197);
	z-index: 2;
}

#wrapper > .shape:nth-child(2) {
	background-color: rgb(245, 245, 245);
	z-index: 2;
}

#wrapper > .shape:nth-child(3) {
	background-color: rgb(155, 93, 229);
	z-index: 1;
}

#wrapper > .shape:nth-child(4) {
	background-color: rgb(241, 91, 181);
	z-index: 2;
}

#wrapper > .shape:nth-child(5) {
	background-color: rgb(254, 228, 64);
	z-index: 2;
}

#wrapper > .shape:nth-child(6) {
	background-color: rgb(0, 187, 249);
	z-index: 2;
}

#wrapper > .shape:nth-child(7) {
	background-color: rgb(0, 245, 212);
	z-index: 2;
}

#wrapper[data-configuration='1'] > .shape:nth-child(1) {
	left: 0%;
	top: 0%;
	height: 50%;
	width: 20%;
}

#wrapper[data-configuration='1'] > .shape:nth-child(2) {
	left: 20%;
	top: 0%;
	height: 50%;
	width: 30%;
}

#wrapper[data-configuration='1'] > .shape:nth-child(3) {
	left: 50%;
	top: 0%;
	height: 100%;
	width: 50%;
}

#wrapper[data-configuration='1'] > .shape:nth-child(4) {
	left: 0%;
	top: 50%;
	height: 50%;
	width: 30%;
}

#wrapper[data-configuration='1'] > .shape:nth-child(5) {
	left: 30%;
	top: 50%;
	height: 50%;
	width: 20%;
}

#wrapper[data-configuration='1'] > .shape:nth-child(6) {
	left: 70%;
	top: 50%;
	height: 50%;
	width: 30%;
}

#wrapper[data-configuration='1'] > .shape:nth-child(7) {
	left: 85%;
	top: 75%;
	height: 25%;
	width: 15%;
}

#wrapper[data-configuration='2'] > .shape:nth-child(1) {
	left: 25%;
	top: 20%;
	height: 80%;
	width: 15%;
}

#wrapper[data-configuration='2'] > .shape:nth-child(2) {
	left: 40%;
	top: 20%;
	height: 50%;
	width: 10%;
}

#wrapper[data-configuration='2'] > .shape:nth-child(3) {
	left: 50%;
	top: 0%;
	height: 100%;
	width: 25%;
}

#wrapper[data-configuration='2'] > .shape:nth-child(4) {
	left: 0%;
	top: 0%;
	height: 50%;
	width: 10%;
}

#wrapper[data-configuration='2'] > .shape:nth-child(5) {
	left: 10%;
	top: 0%;
	height: 70%;
	width: 15%;
}

#wrapper[data-configuration='2'] > .shape:nth-child(6) {
	left: 75%;
	top: 10%;
	height: 80%;
	width: 15%;
}

#wrapper[data-configuration='2'] > .shape:nth-child(7) {
	left: 90%;
	top: 40%;
	height: 60%;
	width: 10%;
}

#wrapper[data-configuration='3'] > .shape:nth-child(1) {
	left: 0%;
	top: 16.5%;
	height: 32%;
	width: 20%;
}

#wrapper[data-configuration='3'] > .shape:nth-child(2) {
	left: 20%;
	top: 2.7%;
	height: 55%;
	width: 34%;
}

#wrapper[data-configuration='3'] > .shape:nth-child(3) {
	left: 38%;
	top: 0%;
	height: 100%;
	width: 62%;
}

#wrapper[data-configuration='3'] > .shape:nth-child(4) {
	left: 0%;
	top: 47.3%;
	height: 55%;
	width: 34%;
}

#wrapper[data-configuration='3'] > .shape:nth-child(5) {
	left: 34%;
	top: 56.4%;
	height: 32%;
	width: 20%;
}

#wrapper[data-configuration='3'] > .shape:nth-child(6) {
	left: 66%;
	top: 45%;
	height: 55%;
	width: 34%;
}

#wrapper[data-configuration='3'] > .shape:nth-child(7) {
	left: 80%;
	top: 68%;
	height: 32%;
	width: 20%;
}

.underlined {
	position: relative;
	text-decoration: none !important;
	white-space: nowrap;
}

.underlined:focus {
	outline: none;
	text-decoration: none !important;
}

.underlined:after {
	content: '';
	height: 2px;
	transform: scaleX(0);
	transition: transform 0.25s ease;
	transform-origin: left;
	left: 0;
	bottom: -4px;
	width: 100%;
	display: block;
	position: absolute;
	transition: left, top, height, width, border-radius;
	transition-duration: 750ms;
	transition-timing-function: ease-in-out;
}

.underlined:hover:after,
.underlined:focus:after,
.active.underlined:after {
	background-color: currentColor;
	transform: scaleX(1);
}

@media (prefers-reduced-motion) {
	.underlined:after {
		opacity: 0;
		transition: opacity 0.25s ease;
	}

	.underlined:hover:after,
	.underlined:focus:after,
	.active.underlined:after {
		opacity: 1;
	}
}
