pre {
	--base00: #011627; /* editor background */
	--base01: #2d2d2d; /* unused (currently) */
	--base02: #424242; /* unused (currently) */
	--base03: #637777; /* code comments */
	--base04: #555555; /* unused (currently) */
	--base05: #d6deeb; /* fallback font color */
	--base06: #c8c8c8; /* unused (currently) */
	--base07: #fafafa; /* unused (currently) */
	--base08: #d7dbe0; /* variable references */
	--base09: #f78c6c; /* numbers */
	--base0A: #c792ea; /* keywords */
	--base0B: #ecc48d; /* strings */
	--base0C: #f78c6c; /* escape characters in strings */
	--base0D: #82aaff; /* function calls */
	--base0E: #c792ea; /* operators */
	--base0F: #d3423e; /* "Embedded" (whatever that means) */
}

.light pre {
	--base00: #2d2d2d; /* editor background */
	--base01: #e0e0e0; /* unused (currently) */
	--base02: #d6d6d6; /* unused (currently) */
	--base03: #989fb1; /* code comments */
	--base04: #969896; /* unused (currently) */
	--base05: #2e3039; /* fallback font color */
	--base06: #282a2e; /* unused (currently) */
	--base07: #1d1f21; /* unused (currently) */
	--base08: #403f53; /* variable references */
	--base09: #aa0982; /* numbers */
	--base0A: #994cc3; /* keywords */
	--base0B: #c96765; /* strings */
	--base0C: #aa0982; /* escape characters in strings */
	--base0D: #4876d6; /* function calls */
	--base0E: #994cc3; /* operators */
	--base0F: #d3423e; /* "Embedded" (whatever that means) */
}

code[class*='language-'],
pre[class*='language-'] {
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	color: #eee;
	font-family: 'JetBrains Mono', monospace;
	font-weight: 500;
	/*font-size: 0.8em;*/
	line-height: 1.5em;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

pre {
	padding: 0.8571429em 1.1428571em !important;
}

code[class*='language-']::-moz-selection,
pre[class*='language-']::-moz-selection,
code[class*='language-'] ::-moz-selection,
pre[class*='language-'] ::-moz-selection {
	background: #363636;
}

code[class*='language-']::selection,
pre[class*='language-']::selection,
code[class*='language-'] ::selection,
pre[class*='language-'] ::selection {
	background: #363636;
}

:not(pre) > code[class*='language-'] {
	white-space: normal;
	border-radius: 0.2em;
	padding: 0.1em;
}

pre[class*='language-'] {
	overflow: auto;
	position: relative;
	margin: 0.5em 0;
	padding: 1.25em 1em;
}

.language-css > code,
.language-sass > code,
.language-scss > code {
	color: #fd9170;
}

[class*='language-'] .namespace {
	opacity: 0.7;
}

.token.atrule {
	color: #c792ea;
}

.token.attr-name {
	color: #ffcb6b;
}

.token.attr-value {
	color: #a5e844;
}

.token.attribute {
	color: #a5e844;
}

.token.boolean {
	color: #c792ea;
}

.token.builtin {
	color: #ffcb6b;
}

.token.cdata {
	color: #80cbc4;
}

.token.char {
	color: #80cbc4;
}

.token.class {
	color: #ffcb6b;
}

.token.class-name {
	color: #f2ff00;
}

.token.comment {
	color: #616161;
}

.token.constant {
	color: #c792ea;
}

.token.deleted {
	color: #ff6666;
}

.token.doctype {
	color: #616161;
}

.token.entity {
	color: #ff6666;
}

.token.function {
	color: #c792ea;
}

.token.hexcode {
	color: #f2ff00;
}

.token.id {
	color: #c792ea;
	font-weight: bold;
}

.token.important {
	color: #c792ea;
	font-weight: bold;
}

.token.inserted {
	color: #80cbc4;
}

.token.keyword {
	color: #c792ea;
}

.token.number {
	color: #fd9170;
}

.token.operator {
	color: #89ddff;
}

.token.prolog {
	color: #616161;
}

.token.property {
	color: #80cbc4;
}

.token.pseudo-class {
	color: #a5e844;
}

.token.pseudo-element {
	color: #a5e844;
}

.token.punctuation {
	color: #89ddff;
}

.token.regex {
	color: #f2ff00;
}

.token.selector {
	color: #ff6666;
}

.token.string {
	color: #a5e844;
}

.token.symbol {
	color: #c792ea;
}

.token.tag {
	color: #ff6666;
}

.token.unit {
	color: #fd9170;
}

.token.url {
	color: #ff6666;
}

.token.variable {
	color: #ff6666;
}

.prose callout-muted a,
.prose callout-info a,
.prose callout-warning a,
.prose callout-danger a,
.prose callout-success a {
	text-decoration: underline;
}

.prose callout-muted p,
.prose callout-info p,
.prose callout-warning p,
.prose callout-danger p,
.prose callout-success p {
	margin-bottom: 0;
}

.prose callout-muted,
.prose callout-info,
.prose callout-warning,
.prose callout-danger,
.prose callout-success {
	margin-top: 0;
	margin-bottom: 2rem;
}

.prose callout-muted,
.prose callout-info,
.prose callout-warning,
.prose callout-danger,
.prose callout-success {
	display: block;
	border-left: solid 4px;
	padding: 0.5rem 1rem;
	position: relative;
	border-top-right-radius: 0.5rem;
	border-bottom-right-radius: 0.5rem;
}

.prose callout-muted,
.prose callout-info,
.prose callout-warning,
.prose callout-danger,
.prose callout-success,
.prose callout-muted *,
.prose callout-info *,
.prose callout-warning *,
.prose callout-danger *,
.prose callout-success * {
	font-size: 1.2rem;
}

.prose callout-muted.aside,
.prose callout-info.aside,
.prose callout-warning.aside,
.prose callout-danger.aside,
.prose callout-success.aside,
.prose callout-muted.aside *,
.prose callout-info.aside *,
.prose callout-warning.aside *,
.prose callout-danger.aside *,
.prose callout-success.aside * {
	font-size: 0.875rem;
}

.prose callout-muted.important,
.prose callout-info.important,
.prose callout-warning.important,
.prose callout-danger.important,
.prose callout-success.important,
.prose callout-muted.important *,
.prose callout-info.important *,
.prose callout-warning.important *,
.prose callout-danger.important *,
.prose callout-success.important * {
	font-size: 1.4rem;
	font-weight: bold;
}

.prose callout-muted:before,
.prose callout-info:before,
.prose callout-warning:before,
.prose callout-danger:before,
.prose callout-success:before {
	border-top-right-radius: 0.5rem;
	border-bottom-right-radius: 0.5rem;
	content: '';
	position: absolute;
	inset: 0;
	opacity: 0.1;
	pointer-events: none;
}

/* the warning yellow is really inaccessible in light mode, so we have a special case for light mode */
.light .prose callout-warning,
.light .prose callout-warning ol > li:before {
	color: #676000;
}

.light .prose callout-warning:before {
	background: #ffd800;
}

.prose callout-warning,
.prose callout-warning ol > li:before {
	color: #ffd644;
}

.prose callout-warning:before {
	background: #ffd644;
}

/* the muted gray is really inaccessible in light mode, so we have a special case for light mode */
.light .prose callout-muted,
.light .prose callout-muted ol > li:before {
	color: #4c4b5e;
}

.light .prose callout-muted:before {
	background: #3c3e4d;
}

.prose callout-muted,
.prose callout-muted ol > li:before {
	color: #b9b9c3;
}

.prose callout-muted:before {
	background: #3c3e4d;
}

.prose callout-info,
.prose callout-info ol > li:before {
	color: #4b96ff;
}

.prose callout-info:before {
	background: #4b96ff;
}

.prose callout-danger,
.prose callout-danger ol > li:before {
	color: #ff4545;
}

.prose callout-danger:before {
	background: #ff4545;
}

.prose callout-success,
.prose callout-success ol > li:before {
	color: #30c85e;
}

.prose callout-success:before {
	background: #30c85e;
}
